.body {
     background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .topnav {

    overflow: hidden;
    display: inline-block;
    background-color: #333;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 19px;
    text-decoration: none;
    font-size: 12px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


  @media screen and (max-device-width: 640px) {
    .body{
      width: 400px;
      height: 200px;
      background-color: chartreuse;
      color: black;
    }
  }
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
     .body{
      width: 200px;
      height: 200px;
      background-color: red;
      color: #fff;
    }
  }


 /*  .container15{
      background-color: black;
 } */
 /* Style the navigation bar */
/* .navbar {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(58, 46, 46);
    overflow: auto;
  } */
     /* Navbar links */ 
  /*.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }*/
  
 /*   Navbar links on mouse-over  */
  /* .navbar a:hover {
    background-color: #000;
  }
  */
 /*   Current/active navbar link  */
  /* .active {
    background-color: #04AA6D;
  }*/
  
  /*  Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels  */
 /* @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
 
 .topnav {
    background-color: #333;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  .topnav .icon {
    display: none;
  }
/*  */
  /* @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } */
  /*  */
  .projects{
display: flex;
flex-direction: row;
  }
  .projects1{
    background-color: rgb(255, 188, 166);
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 5px;
    border: solid 1px rgb(0, 0, 0);
    box-shadow: rgb(75, 68, 68);
  }
.projects2{
  background-color: rgb(255, 188, 166);
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 5px;
  border: solid 1px rgb(0, 0, 0);
  box-shadow:  rgb(75, 68, 68);
} 
 .projects3{
  background-color: rgb(255, 188, 166);
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 5px;
  border: solid 1px rgb(0, 0, 0);
  box-shadow: rgb(75, 68, 68);
}
.container{
    background-color: rgb(255, 255, 255);
    color: rgb(37, 32, 32);
    font-size: 25px;
    margin: 5px;
    padding: 10px;
    border-radius: 02px;
}
.btn {
    background-color: rgb(255, 255, 255);
    color: aquamarine;
    font-size: 30px;
    margin: 12px;
    padding: 24px;
    cursor: pointer;
}
.btn1 {
    background-color: rgb(255, 255, 255);
    color: hsl(60, 8%, 3%);
    font-size: 30px;
    margin: 12px;
    padding: 24px;
    cursor: pointer;
}
.btn1:hover{
  background-color: hsl(113, 100%, 50%);
  color: rgb(153, 0, 255);
  font-size: 30px;
  margin: 12px;
  padding: 24px;
  cursor: pointer;
}
.btn2 {
    background-color: #ffffff;
    box-shadow: none;
    border-color: white;
    color: hsl(0, 26%, 96%);
    font-size: 30px;
    margin: 12px;
    padding: 24px;
    cursor: pointer;
}
.btn3 {
    background-color: #ffffff;
    box-shadow: none;
    border-color: white;
    color: hsl(0, 26%, 96%);
    font-size: 30px;
    margin: 12px;
    padding: 24px;
    cursor: pointer;
}
.btnhover {
    background-color: rgb(3, 255, 79);
    color: aliceblue;
    font-size: 30px;
    margin: 12px;
    padding: 24px;
    cursor: pointer;
}
.container1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    }
.container2 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
.container3 {
    background-color: #fffbfb;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
.container4 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
.container5 {
 background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
 font-size: 20px;
 margin: 5px;
 padding: 10px;
 border-radius: 10px;
}
.container6 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
